body {
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0;
}

div.contenu {
    background-color: #ffffff;
    margin: 0px 10% 50px 10%;
    padding: 30px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    margin-bottom: 12px; 
    margin-top: 10px;
}

p.description {
  text-align: center;
  max-width: 400px;
  display: inline-block;
  font-size : 14px;

}

.centre {
    text-align: center;
    width: 100%;
}


p.categorie {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

div.categorie{
    margin-bottom: -18px;
    margin-top: 60px;
}


div.separateur{
    width: 100px;
    height:1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}

div.info{
    position : relative;
}

table.info{
    position: absolute;
    bottom:0;
    width:100%;
    color: white;
    background-color: #6C829DC0;
    height: 80px
}

table.info td{
    text-align : center;
    font-size: 14px;
    vertical-align: top;
}

table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom:8px;
}

img.info{
    display:block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

div.colonne{
    width : 45%;
    display:inline-block;
    margin-top: 20px;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
    
}

div.colonne1{
    scroll-margin-right: 10%;
}


div.colonne2{
    float: right;
}


div.ingredient p{
    text-align: center;
    border: 1px solid lightgrey;
    font-size: 14px;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero{
    font-size: 14px;
    background-color: #6C829D;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}


table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation-etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr{
    height: 40px;
}

*{
    overflow:auto;
}

